.App {
  text-align: center;
}

.container {
  width: 90%;
  min-height: 100%;
  max-height: 100%;
  background: #fff;
  margin: auto;
}

.row {
  width: 100%;
}

.grip-container-cart {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  margin: auto 0;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.img-cart {
  height: 80px;
}

.remove {
  color: #c92976;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-decoration: underline;
  transition: all 0.3s;
}

span.text,
.qtdNumber {
  font-size: 12px;
  display: flex;
}

.grip-container {
  padding: 0.5em;
  display: inline;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2rem;
  margin: auto 0;
}

.cards {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-auto-rows: minmax(25%, auto);
  grid-gap: 2rem;
  margin: auto 0;
}

.card {
  padding: 0.5rem;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.card:hover {
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(33, 34, 36, 0.24);
}

.addToCart {
  margin: 10px;
  padding: 1em;
  background: #c92976;
  border: 2px solid #c92976;
  border-radius: 24px;
  box-shadow: 0 2px 2px rgba(178, 36, 105, 0.24);
  width: 90%;
  color: white;
  font-weight: 600;
}
.favoriteIcon {
  padding: 0 !important;
  height: 20px !important;
  position: absolute;
  right: 11px;
  top: 12px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.thumbnail img {
  fill: #c7c4c4;
  height: 135px;
  padding: 1.5rem;
}

.card-content {
  font-size: 0.75rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  height: 60px;
  padding: 34px 0;
  position: relative;
  z-index: 10;
}

span.name {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 16px;
  font-weight: 600;
  -webkit-line-clamp: 3;
  line-height: 22px;
  max-height: 66px;
  min-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.content {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-bottom: 5px;
  min-height: 20px;
}

span.brand {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

span.price {
  color: #c92976;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.logo-mobile {
  display: none;
}

@media only screen and (max-width: 915px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
  }
  .container {
    width: 90%;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: #fff;
    margin: auto;
  }

  .logo {
    display: none;
    height: 50%;
    pointer-events: none;
  }

  .logo-mobile {
    display: flex;
    pointer-events: none;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 90%;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: #fff;
    margin: auto;
  }

  .logo {
    height: 50%;
    pointer-events: none;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: #fff;
    margin: auto;
  }

  .logo {
    height: 50%;
    pointer-events: none;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 90%;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: #fff;
    margin: auto;
  }

  .logo {
    height: 50%;
    pointer-events: none;
  }
}

.sidebar {
  position: fixed;
  width: 90%;
  height: 85vh;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 999999;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #f3f3f3;
  border-width: 1px 0 0 1px;
  transition: right 0.2s ease-in-out;
  padding: 20px;
  text-align: left;
  font-size: 90%;
  overflow: auto;
  border-radius: 10px;
}

.dark-overflow {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1001;
  width: 100%;
}

.container-cart {
  width: 100%;
}

.simple-Cart {
  margin-right: 0;
  margin-top: 20px;
  padding-right: 0;
}

.cart-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  list-style: none;
}

.listItem {
  padding: 0;
}

.cartItem {
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 11px;
  padding-left: 80px;
  padding-top: 16px;
  position: relative;
}

.cartItem-image {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
}

a {
  color: inherit;
  text-decoration: none;
}

.item-image {
  object-fit: contain;
  max-width: 100%;
}

.itemInfo {
  color: #212224;
  flex: 1 1 0%;
}

.itemName {
  padding-right: 15px;
}

.itemName,
.itemPrice {
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
}

.itemDescription {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}

.itemDescription > span {
  color: #75787b;
}

.itemAction {
  display: flex;
  line-height: 1;
  margin-top: 9px;
}

.Interactive,
.Link {
  cursor: pointer;
}

.Link {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

.Link.LinkPurple {
  color: #c92976;
}

.Link:hover {
  opacity: 0.8;
}

.Divider.DividerVertical {
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.Divider.DividerVertical::after {
  background: #e3e3e3;
  content: "";
  height: 20px;
  left: 50%;
  position: absolute;
  top: 3px;
  width: 1px;
}

.qtd {
  position: relative;
  width: 81px;
}

.qtd p {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  margin-bottom: 4px;
  text-align: center;
}

.itemPrice {
  text-align: right;
}

.input {
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  color: #212224;
  font-family: Open Sans, system-ui, sans-serif;
  font-size: 14px;
  height: 10px;
  width: 150px;
  line-height: 22px;
  margin-bottom: 24px;
  outline: 0;
  padding: 9px 14px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.coupon {
  display: flex;
  padding: 1em;
  color: #53565a;
  font-size: 14px;
  line-height: 22px;
  margin-right: 8px;
}

.CartButton {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  align-items: center;
  padding: 1em;
}

.CartActions {
  align-items: center;
  display: flex;
  text-align: center;
}

.CartActionsButton {
  margin-bottom: -10px;
  text-align: center;
}

.actionOr {
  color: #212224;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding: 0 24px;
  text-transform: uppercase;
}

.checkout-Button {
  background: #c92976;
  border: 2px solid #c92976;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Open Sans, system-ui, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardSummary {
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  display: flex;
  margin-bottom: 16px;
  padding: 24px 5.6% 24px 5.4%;
  position: relative;
}

.totals {
  align-items: center;
  border: 0;
  display: inline-grid;
  justify-items: right;
  flex-grow: 1;
  font-size: 14px;
  line-height: 22px;
}

.span3 {
  font-weight: 600;
}

.header {
  border-bottom: 1px solid #ddd;
}

.menuRight {
  margin-top: -25px;
  position: absolute;
  right: 0;
  top: 50%;
}

.iconRight {
  color: #53565a;
  cursor: pointer;
  text-align: center;
  display: block;
  padding-bottom: 5px;
  float: right;
  margin-left: 35px;
  position: relative;
  width: 64px;
}

.linkMenu {
  bottom: 0;
  font-size: 12px;
  left: 50%;
  letter-spacing: 0.5px;
  line-height: 20px;
  transform: translateX(-50%);
  width: 100px;
}
.qtdCart {
  position: absolute;
  text-align: center;
  background: #94c155;
  border-radius: 8px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  min-width: 16px;
  padding: 0 5px;
  right: 8px;
  top: 1px;
}

.logo {
  height: 50px;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .CartActions {
    align-items: center;
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 90%;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: #fff;
    margin: auto;
  }
}
